@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    min-height: 100vh;
    margin: 0;
  }

  /*width*/
  body::-webkit-scrollbar {
    width: 10px;
  }

  /*track*/
  body::-webkit-scrollbar-track {
    background: rgb(166, 166, 166);
    border-radius: 10px;
  }

  /*thumb*/
  body::-webkit-scrollbar-thumb {
    background: rgb(1, 1, 1);
    border-radius: 10px;
  }

  .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .cube1,
  .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }

  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  @-webkit-keyframes sk-cubemove {
    25% {
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
        scale(0.5);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }

  @keyframes sk-cubemove {
    25% {
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
        scale(0.5);
    }
    100% {
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }

  /*width*/
  .animatedballs7 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 13);
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs8 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 11);
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs9 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 9);
    animation-delay: 1s;
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs10 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 12);
    animation-delay: 1s;
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs11 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 10);
    animation-delay: 1s;
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs12 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 8);
    animation-delay: 1s;
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs13 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 7);
    animation-delay: 1s;
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs14 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 6);
    animation-delay: 1s;
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .animatedballs15 {
    animation: movementanimation 15s linear infinite;
    animation-fill-mode: both;
    animation-duration: calc(125s / 5);
    animation-delay: 1s;
  }

  @keyframes movementanimation {
    0% {
      transform: translateY(100vh) scale(0);
    }

    100% {
      transform: translateY(-10vh) scale(1);
    }
  }
}
